{% extends 'layouts/base-rtl.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>ارزش ماهانه انبار</h6>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="chart-line-1" class="chart-canvas chartjs-render-monitor" height="375" width="221" style="display: block; height: 300px; width: 176.8px; box-sizing: border-box;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>کالا های راکد در هر ماه</h6>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="chart-line-2" class="chart-canvas chartjs-render-monitor" height="375" width="221" style="display: block; height: 300px; width: 176.8px; box-sizing: border-box;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row removable">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>نسبت موجودی انبار به فروش</h6>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="chart-line-3" class="chart-canvas chartjs-render-monitor" height="375" width="221" style="display: block; height: 300px; width: 176.8px; box-sizing: border-box;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>نسبت کالا های راکد به موجودی انبار</h6>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="chart-line-4" class="chart-canvas chartjs-render-monitor" height="375" width="221" style="display: block; height: 300px; width: 176.8px; box-sizing: border-box;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row removable">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 style="font-size: 1.5rem; margin-bottom: 20px">کالاهای راکد در ماه جاری</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0 display" id="table1" style="width:100%; text-align: center; align-content: center">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: center">نام کالا</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: center">نام انبار</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: center">مقدار</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: center">واحد</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: center">ارزش  جنس رسوب شده</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i,j,k,l,m in remain %}
                                <tr>
                                  <td>
                                    <p class="text-sm font-weight-bold mb-0">{{i}}</p>
                                  </td>
                                  <td>
                                      <p class="text-sm font-weight-bold mb-0">{{j}}</p>
                                  </td>
                                  <td>
                                      <p class="text-sm font-weight-bold mb-0">{{k}}</p>
                                  </td>
                                  <td>
                                      <p class="text-sm font-weight-bold mb-0">{{l}}</p>
                                  </td>
                                  <td>
                                      <p class="text-sm font-weight-bold mb-0">{{m}}</p>
                                  </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row removable">

        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 style="font-size: 1.5rem; margin-bottom: 20px">موجودی انبار در ماه جاری</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0 display" id="table2" style="width:100%; text-align: center; align-content: center">
                            <thead>
                                <tr>
                                    <th style="text-align: center">سال</th>
                                    <th style="text-align: center">ماه</th>
                                    <th style="text-align: center">نام کالا </th>
                                    <th style="text-align: center">قیمت</th>
                                    <th style="text-align: center">تعداد</th>
                                    <th style="text-align: center">واحد</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i,j,k,l,m,n in mojoodi %}
                                <tr>
                                    <td>
                                    <p class="text-sm font-weight-bold mb-0">{{i}}</p>
                                </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{j}}</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{k}}</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{l}}</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{m|floatformat:"0"}}</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{n}}</p>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      {% include "includes/footer-rtl.html" %}

      {% endblock content %}

      <!-- Specific JS goes HERE --> 
      {% block scripts %}
      
        <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>

<!-- table settings -->
<style>
  .dataTables_paginate > paginate_button {
      /*border: 10px;*/

  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
      background: #ffff;
      color: #FF0080 !important;
      border-bottom: 4px  #7928CA!important;
      font-weight: 600;
      /*border-radius: 100%;*/


  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
      color: #ffff !important;
      /*border-radius: 100%;*/
      border: 1px solid linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
      border-radius: .2rem;
  }



  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
      color: #ffff !important;
      /*border-radius: 100%;*/
      border: none !important;
      border-radius: .2rem;

  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
      color: #ffff !important;
  }

  .dataTables_wrapper .dataTables_filter input {
      border-radius: 2rem;

      padding: 2px 15px 2px 5px;

  }

  .dataTables_wrapper .dataTables_filter {
      margin-right: 20px;

  }

  label, .form-label {
      font-size: 1.2rem;
  }

  .table-container {
      margin: 20px;

      padding: 10px;


  }

  .dataTables_wrapper .dataTables_paginate {
      text-align: center;
      float: initial;
  }

  tbody {
      border-color: white !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      border: none;
  }
</style>
      
        <script>
           //----------------------------------
           if (document.querySelector("#chart-line-1")) {
           	var ctx2 = document.getElementById("chart-line-1").getContext("2d");
           	var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
           	gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke1.addColorStop(0, "rgba(203,12,159,0)");
           	var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
           	gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke2.addColorStop(0, "rgba(20,23,39,0)");
           	new Chart(ctx2, {
              type: "line",
              data: {
                labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفنند"],
                datasets: [{
                    label: "1400",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#cb0c9f",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    fill: true,
                    data: [, , 436019727, 528624017, 738336356, 705097722, 351162214, 748007955, 1231676297, 164556424, 326173893, 331464992],
                    maxBarThickness: 6
        
                  },
                  {
                    label: "1401",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [679328862, 926494857, 3330567132, 3293939338, 3470012429, 2066977954, 2102605023, 2735075369, 4910903867, 2218677877, 1983819628, 3548829690],
                    maxBarThickness: 6
                  },
                  {
                    label: "1402",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#006600",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [2933274977, 1479478091, 1259062462, 1359062462, 1555062462, 1559062462],
                    maxBarThickness: 6
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  legend: {
                    display: true,
                  }
                },
                interaction: {
                  intersect: false,
                  mode: 'index',
                },
                scales: {
                  y: {
                    grid: {
                      drawBorder: false,
                      display: true,
                      drawOnChartArea: true,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      padding: 10,
                      color: '#6c6c7a',
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                  x: {
                    grid: {
                      drawBorder: false,
                      display: false,
                      drawOnChartArea: false,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      color: '#6c6c7a',
                      padding: 20,
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                },
              },
            }); 
           };
           //-----------------------------------
           if (document.querySelector("#chart-line-2")) {
           	var ctx2 = document.getElementById("chart-line-2").getContext("2d");
           	var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
           	gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke1.addColorStop(0, "rgba(203,12,159,0)");
           	var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
           	gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke2.addColorStop(0, "rgba(20,23,39,0)");
           	new Chart(ctx2, {
              type: "line",
              data: {
                labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفنند"],
                datasets: [{
                    label: "1400",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#cb0c9f",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    fill: true,
                    data: [, , , , 14500, 39990520, 25947597, 17652825, 24511192, 137352694, 781023077],
                    maxBarThickness: 6
        
                  },
                  {
                    label: "1401",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [46666818, 5713462, 79091371, 1102012, 10801, 4716464, 87015445, 65680941, 47975063, 15940800, 152340667, 1363852261],
                    maxBarThickness: 6
                  },
                  {
                    label: "1402",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#006600",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [423345877, 887664354, 1223647086, 1263612648, 1123685286, 923649456],
                    maxBarThickness: 6
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  legend: {
                    display: true,
                  }
                },
                interaction: {
                  intersect: false,
                  mode: 'index',
                },
                scales: {
                  y: {
                    grid: {
                      drawBorder: false,
                      display: true,
                      drawOnChartArea: true,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      padding: 10,
                      color: '#6c6c7a',
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                  x: {
                    grid: {
                      drawBorder: false,
                      display: false,
                      drawOnChartArea: false,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      color: '#6c6c7a',
                      padding: 20,
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                },
              },
            }); 
           };
           //-----------------------------------
           if (document.querySelector("#chart-line-3")) {
           	var ctx2 = document.getElementById("chart-line-3").getContext("2d");
           	var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
           	gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke1.addColorStop(0, "rgba(203,12,159,0)");
           	var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
           	gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke2.addColorStop(0, "rgba(20,23,39,0)");
           	new Chart(ctx2, {
              type: "line",
              data: {
                labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفنند"],
                datasets: [{
                    label: "1400",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#cb0c9f",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    fill: true,
                    data: [, , 0, 9.659, 3.666, 2.692, 0.628, 1.341, 1.51, 0.249, 0.624, 0.491],
                    maxBarThickness: 6
        
                  },
                  {
                    label: "1401",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [1.017, 0.924, 2.909, 1.978, 1.955, 1.395, 1.11, 1.065, 1.853, 0.944, 0.777, 1.35],
                    maxBarThickness: 6
                  },
                  {
                    label: "1402",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#006600",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [0.116, 0.472, 1.698, 2.27, 4.91, 3.854],
                    maxBarThickness: 6
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  legend: {
                    display: true,
                  }
                },
                interaction: {
                  intersect: false,
                  mode: 'index',
                },
                scales: {
                  y: {
                    grid: {
                      drawBorder: false,
                      display: true,
                      drawOnChartArea: true,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      padding: 10,
                      color: '#6c6c7a',
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                  x: {
                    grid: {
                      drawBorder: false,
                      display: false,
                      drawOnChartArea: false,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      color: '#6c6c7a',
                      padding: 20,
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                },
              },
            }); 
           };
           //-----------------------------------
           if (document.querySelector("#chart-line-4")) {
           	var ctx2 = document.getElementById("chart-line-4").getContext("2d");
           	var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
           	gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke1.addColorStop(0, "rgba(203,12,159,0)");
           	var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
           	gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
           	gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
           	gradientStroke2.addColorStop(0, "rgba(20,23,39,0)");
           	new Chart(ctx2, {
              type: "line",
              data: {
                labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفنند"],
                datasets: [{
                    label: "1400",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#cb0c9f",
                    borderWidth: 3,
                    backgroundColor: gradientStroke1,
                    fill: true,
                    data: [, , , , 0, , 0.114, 0.035, 0.014, 0.149, 0.421, 2.356],
                    maxBarThickness: 6
        
                  },
                  {
                    label: "1401",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [0.069, 0.006, 0.024, 0, 0, 0.002, 0.041, 0.024, 0.01, 0.007, 0.077, 0.384],
                    maxBarThickness: 6
                  },
                  {
                    label: "1402",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#006600",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: [0.144, 0.6, 0.972, 1.543, 1.26, 1.06],
                    maxBarThickness: 6
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  legend: {
                    display: true,
                  }
                },
                interaction: {
                  intersect: false,
                  mode: 'index',
                },
                scales: {
                  y: {
                    grid: {
                      drawBorder: false,
                      display: true,
                      drawOnChartArea: true,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      padding: 10,
                      color: '#6c6c7a',
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                  x: {
                    grid: {
                      drawBorder: false,
                      display: false,
                      drawOnChartArea: false,
                      drawTicks: false,
                      borderDash: [5, 5]
                    },
                    ticks: {
                      display: true,
                      color: '#6c6c7a',
                      padding: 20,
                      font: {
                        size: 11,
                        family: "inherit",
                        style: 'normal',
                        lineHeight: 2
                      },
                    }
                  },
                },
              },
            }); 
           };
        </script>

</script>
<script src="{% static 'mdb/mdb.js' %}"></script>
<script src="{% static 'mdb/table.js' %}"></script>


    <script>
        new DataTable('#table1', {
            pagingType: 'full_numbers'
        });
        new DataTable('#table2', {
            pagingType: 'full_numbers'
        });


    </script>

    <style>
    .dataTables_wrapper .dataTables_paginate{
        text-align: center;
        float: initial;
    }
    </style>
      
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            function convertToPersianNumbers(input) {
                var persianNumbers = {
                    '0': '۰',
                    '1': '۱',
                    '2': '۲',
                    '3': '۳',
                    '4': '۴',
                    '5': '۵',
                    '6': '۶',
                    '7': '۷',
                    '8': '۸',
                    '9': '۹'
                };
    
                return input.replace(/[0-9]/g, function(match) {
                    return persianNumbers[match];
                });
            }
    
            function convertNumbersInElement(element) {
                var textContent = element.textContent;
                element.textContent = convertToPersianNumbers(textContent);
            }
    
            var elements = document.querySelectorAll('.text-sm');
            elements.forEach(function(element) {
                convertNumbersInElement(element);
            });
        });
    
    </script>

{% endblock scripts %}
      