{% extends 'layouts/base-rtl.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<body>
<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="chart-bars-1" class="chart-canvas chartjs-render-monitor" height="212"
                                    style="display: block; height: 169.6px; width: 250.4px; box-sizing: border-box;"
                                    width="313"></canvas>
                        </div>
                    </div>
                    <h6 class="ms-2 mt-4 mb-0">محصولات دارای کمترین سود</h6>
                    <p class="text-sm ms-2">(<span class="font-weight-bolder">به تومان)</span></p>
                    <div class="container border-radius-lg">
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="chart-bars-2" class="chart-canvas chartjs-render-monitor" height="212"
                                    style="display: block; height: 169.6px; width: 250.4px; box-sizing: border-box;"
                                    width="313"></canvas>
                        </div>
                    </div>
                    <h6 class="ms-2 mt-4 mb-0">پرسودترین محصولات</h6>
                    <p class="text-sm ms-2">(<span class="font-weight-bolder">به تومان)</span></p>
                    <div class="container border-radius-lg">
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="chart-bars-3" class="chart-canvas chartjs-render-monitor" height="212"
                                    style="display: block; height: 169.6px; width: 250.4px; box-sizing: border-box;"
                                    width="313"></canvas>
                        </div>
                    </div>
                    <h6 class="ms-2 mt-4 mb-0">محصولات ضررده</h6>
                    <p class="text-sm ms-2">(<span class="font-weight-bolder">به تومان)</span></p>
                    <div class="container border-radius-lg">
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row removable">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 style="font-size: 1.5rem; margin-bottom: 20px">محصولات</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0 display" id="table1"
                               style="width:100%; text-align: center; align-content: center">
                            <thead>
                            <tr>
                                <th style="text-align: center">نام کالا</th>
                                <th style="text-align: center">قیمت فروش (تومان)</th>
                                <th style="text-align: center">قیمت تمام شده (تومان)</th>
                                <th style="text-align: center">سود (تومان)</th>
                                <th style="text-align: center">نسبت قیمت فروش به تمام شده</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i,j,k,l,m in price %}
                            <tr>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{i}}</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{j}}</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{k}}</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{l}}</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{m|floatformat:3}}</p>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row removable">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 style="font-size: 1.5rem; margin-bottom: 20px"> پیش بینی میزان فروش با افزایش ده درصد قیمت</h6>

                </div>


                <form method="post" id="YourForm">
                    {% csrf_token %}
                    <span style="margin-right: 1.6rem">
      <label for="name">نام محصول</label>
      <input type="text" accept="text/pla" class="inputt" name="name" id="name" list="datalist"
             onkeyup="ac(this.value)" required>
              <datalist id="datalist">
                {% for i,j,k in mlp_sales%}
<option value="{{i}}"></option>

                {% endfor %}
</datalist>
          </span>
                    <span style="margin: 0 2rem">
      <label for="increase">درصد افزایش قیمت</label>
      <input type="text" class="inputt" name="increase" id="increase" list="datalist2"
             onkeyup="ac(this.value)" placeholder="اختیاری">
              <datalist id="datalist2">
<option value="0.1"></option>
<option value="0.2"></option>
<option value="0.3"></option>
<option value="0.4"></option>
<option value="0.5"></option>
<option value="0.6"></option>
<option value="0.7"></option>
<option value="0.8"></option>
<option value="0.9"></option>
<option value="1"></option>
</datalist>
          </span>
                    <input class="emal" type="button" id='submit' value="اعمال" onclick="submitForm()">
                </form>
                <div id="displayValues"></div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0 display" id="table2"
                               style="width:100%; text-align: center; align-content: center">
                            <thead>
                            <tr>
                                <th style="text-align: center">نام کالا</th>
                                <th style="text-align: center">مقدار تغییر</th>
                                <th style="text-align: center">تعداد فروش(پرس)</th>
                                <th style="text-align: center">نوع تغییر</th>

                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            <!-- Table body will be dynamically populated -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "includes/footer-rtl.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

<script src="{% static 'mdb/mdb.js' %}"></script>
<script src="{% static 'mdb/table.js' %}"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>

<!-- table settings -->
<style>
    .emal {
        background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        border: none;
        color: #ffffff;
        padding: 0.15rem 3rem;
        border-radius: 6.2rem;
        font-size: 1.1rem
    }

    .inputt {
        padding: 2px 15px 2px 5px;
        border: 1px solid #aaa;
        border-radius: 2rem;
    }


    #table2_wrapper > .dataTables_filter {
        visibility: hidden;
    }

    .bottom-left {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: white;
        padding: 10px;
    }

    .dataTables_paginate > paginate_button {
        /*border: 10px;*/

    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        background: #ffff;
        color: #FF0080 !important;
        border-bottom: 4px #7928CA !important;
        font-weight: 600;
        /*border-radius: 100%;*/


    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        color: #ffff !important;
        /*border-radius: 100%;*/
        border: 1px solid linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        border-radius: .2rem;
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        color: #ffff !important;
        /*border-radius: 100%;*/
        border: none !important;
        border-radius: .2rem;

    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: #ffff !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        border-radius: 2rem;

        padding: 2px 15px 2px 5px;

    }

    .dataTables_wrapper .dataTables_filter {
        margin-right: 20px;

    }

    label, .form-label {
        font-size: 1.2rem;
    }

    .table-container {
        margin: 20px;

        padding: 10px;


    }

    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        float: initial;
    }

    tbody {
        border-color: white !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: none;
    }


</style>

<script>

    //------------------------------
    if (document.querySelector("#chart-bars-1")) {
        var ctx = document.getElementById("chart-bars-1").getContext("2d");
        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["چلو کوبیده مرغ", "کوبیده گوشت 1", "چلو کوبیده مرغ تک سیخ", "کوبیده گوشت", "خوراک مرغ"],
                datasets: [{
                    label: "سود",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "#fff",
                    data: [1700, 3072, 10200, 16344, 17680],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 15,
                            font: {
                                size: 14,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "#fff"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false
                        },
                        ticks: {
                            font: {
                                family: "inherit",
                            },
                            color: "#fff"
                        },
                    },
                },
            },
        });
    }
    ;

    if (document.querySelector("#chart-bars-2")) {
        var ctx = document.getElementById("chart-bars-2").getContext("2d");
        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["خوراک ماهیچه 1/5 نفره", "خورشت فسنجان با مرغ", "خوراک ماهیچه تک نفره", "چلو کباب وزیری", "خوراک ماهی قزل آلا"],
                datasets: [{
                    label: "سود",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "#00ff00",
                    data: [389300, 207774, 193800, 187092, 183668],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 15,
                            font: {
                                size: 14,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "#fff"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false
                        },
                        ticks: {
                            font: {
                                family: "inherit",
                            },
                            color: "#fff"
                        },
                    },
                },
            },
        });
    }
    ;

    if (document.querySelector("#chart-bars-3")) {
        var ctx = document.getElementById("chart-bars-3").getContext("2d");
        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["کوبیده مرغ", "خوراک کوبیده میکس", "جوجه زعفرانی ممتاز"],
                datasets: [{
                    label: "ضرر",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "#ff0000",
                    data: [-69700, -51656, -22032],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 15,
                            font: {
                                size: 14,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "#fff"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false
                        },
                        ticks: {
                            font: {
                                family: "inherit",
                            },
                            color: "#fff"
                        },
                    },
                },
            },
        });
    }
    ;
</script>
<script>
    new DataTable('#table1', {
        pagingType: 'full_numbers'
    });

</script>
<script>
    new DataTable('#table2', {
        pagingType: 'full_numbers',

    });

</script>
<script type="text/javascript">
    let tags = [{% for i, j, k in mlp_sales %}
    {{i}},
    {% endfor %}];
    let n = tags.length; // length of datalist tags
    function ac(value) {

        document.getElementById('datalist').innerHTML = '';

        l = value.length;

        for (let i = 0; i < n; i++) {

            if (((tags[i].toLowerCase()).indexOf(
                value.toLowerCase())) > -1) {
                let node = document.createElement("option");
                let val = document.createTextNode(tags[i]);
                node.appendChild(val);

                // Creating and appending new elements
                // in data list
                document.getElementById("datalist")
                    .appendChild(node);
            }
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function convertToPersianNumbers(input) {
            var persianNumbers = {
                '0': '۰',
                '1': '۱',
                '2': '۲',
                '3': '۳',
                '4': '۴',
                '5': '۵',
                '6': '۶',
                '7': '۷',
                '8': '۸',
                '9': '۹'
            };

            return input.replace(/[0-9]/g, function (match) {
                return persianNumbers[match];
            });
        }

        function convertNumbersInElement(element) {
            var textContent = element.textContent;
            element.textContent = convertToPersianNumbers(textContent);
        }

        var elements = document.querySelectorAll('.text-sm');
        elements.forEach(function (element) {
            convertNumbersInElement(element);
        });
    });

</script>

<script type="text/javascript">
    function submitForm() {
        let form = document.getElementById('YourForm');
        let formData = new FormData(form);

        fetch('/index/p_analysis/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                let tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = "";

                data.data.data.predict.forEach(item => {
                    // ایجاد سطر جدید
                    let tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${item[0]}</td>
                        <td>${item[1] === 1 ? item[1] : item[1].toFixed(1)}</td>
                        <td>${item[2]}</td>
                        <td>${item[3]}</td>
                    `;
                    // افزودن سطر به جدول
                    tableBody.appendChild(tr);
                });
            })
            .catch(error => {
                // عملیات پس از خطا انجام شود
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
</body>
{% endblock scripts %}
     
      