{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-xl-5 col-sm-6">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Daily value of the entire warehouse</p>
                                <h5 class="font-weight-bolder mb-0">
                                    870,691,042,334,799
                                    <span class="text-success text-sm font-weight-bolder">Toman</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row removable">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Unusual exit</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">year</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">month</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">day</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">goods name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">the total amount of goods exit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1401</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">رب گوجه</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1,388,518,935</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">2</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">8</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">19</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">فلفل سیاه</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">320,742,410</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">3</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">7</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">27</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">سویا فله</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">655,752,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">4</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">7</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">27</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">عصاره گوشت بره الیت 1 کیلویی</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">655,752,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">5</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1401</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">تخم مرغ</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1,388,518,935</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">6</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">7</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">27</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">مرغ سایز 1.400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">655,752,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">7</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">11</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">18</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">روغن حیوانی گاو</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">176,132,870</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">8</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1401</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">9</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">19</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">ذرت شیرین</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">657,354,020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">9</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1400</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">21</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">فیله مرغ</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">209,831,934</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">10</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1401</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">9</p>
                                    </td>
                                    <td >
                                        <p class="text-sm font-weight-bold mb-0">17</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">رنگ غذا</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">1,456,113,360</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

      {% include "includes/footer.html" %}

      {% endblock content %}

      <!-- Specific JS goes HERE -->
      {% block scripts %}

<!-- table settings -->
<style>
    .dataTables_paginate > paginate_button {
        /*border: 10px;*/

    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        background: #ffff;
        color: #FF0080 !important;
        border-bottom: 4px  #7928CA!important;
        font-weight: 600;
        /*border-radius: 100%;*/


    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        color: #ffff !important;
        /*border-radius: 100%;*/
        border: 1px solid linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        border-radius: .2rem;
    }



    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
        color: #ffff !important;
        /*border-radius: 100%;*/
        border: none !important;
        border-radius: .2rem;

    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: #ffff !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        border-radius: 2rem;

        padding: 2px 15px 2px 5px;

    }

    .dataTables_wrapper .dataTables_filter {
        margin-right: 20px;

    }

    label, .form-label {
        font-size: 1.2rem;
    }

    .table-container {
        margin: 20px;

        padding: 10px;


    }

    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        float: initial;
    }

    tbody {
        border-color: white !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: none;
    }
</style>

        <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
        <script>
           //----------------------------------
        </script>
      {% endblock scripts %}
